<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Snake.Properties.Settings>
            <setting name="MapBGColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MapFGColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MapWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MapHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BoundHSymbol" serializeAs="String">
                <value>~</value>
            </setting>
            <setting name="BoundVSymbol" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="BoundBGColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BoundFGColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SnakeSymbol" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SnakeLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SnakeSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SnakeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MapTopBound" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapLeftBound" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FoodSymbol" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="FoodColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="DialogsWindowsWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DialogsWindowsHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SnakeBoost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoScoreCount" serializeAs="String">
                <value>DarkMagenta</value>
            </setting>
            <setting name="InfoScorePoint" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
        </Snake.Properties.Settings>
    </userSettings>
</configuration>
